/*博客页面的各种样式*/

/*自定义字体*/
@font-face {
    /* font-properties */
    font-family: FZLTH;
    src:url('fonts/FZLTH.ttf');
}

div {
    font-family: FZLTH;
}


/*按钮的样式*/
#submitBlog{
    padding-top: 5px;
}

.mDivider{
    width: auto;
    height: 1px;
    background: #3d3c38;
    margin-bottom:5px ;
}

.mContent{
    word-break: break-all;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#blogDownShow{
    display: none;
}

.blogId{
    display: none;
}