{% extends "Base.html" %}
{#加载静态文件#}
{% load staticfiles %}

{#修改标题#}
{% block title %}
    博客列表
{% endblock %}
{% block head %}

{% endblock %}

{% block content %}
    <div class="row clearfix">

				<!--这里是巨幕标题-->
				<div class="jumbotron">
					<h1>
						盛大开的博客
					</h1>
					<p>
						盛大开的个人博客
					</p>
					<p>
						<a class="btn btn-primary btn-large" href="#">了解更多</a>
					</p>
				</div>
		</div>
    <div id="myFrame" class="row clearfix">

	</div>

{% endblock %}

{% block JS %}
        <script type="text/javascript" src={% static 'js/bootstrap.min.js' %}></script>
    <script type="text/javascript">
    $(function () {
        var blogs={{ blogs|safe }};
        for(var i=0;i<blogs.length;i++){
                blog=blogs[i];

                var mTitle=$("<h2></h2>").text(blog.fields.title);
                var mContent=$("<p></p>").addClass("mContent").text(blog.fields.shortContent);
                var mTime=$("<p></p>").text(blog.fields.revisedTime);
                var mDiv=$("<div></div>");
                var mDivider=$("<div></div>").addClass("mDivider");
                mDiv.addClass("col-md-6 column");
                mDiv.append(mTitle).append(mContent).append(mTime);
                mDiv.append(mDivider);

                $('#myFrame').append(mDiv);

                mTitle.click(function () {
                    window.location.href="http://127.0.0.1:8000/blog/"+blog.fields.revisedTime;
                })
        }
    })

</script>
{% endblock %}