{% extends "Base.html" %}
{% block head %}

{% endblock %}

{% block content %}
    {% for blog in blogs %}

        <div class="row clearfix">
		<div class="col-md-12 column">
			<h2>
				{{ blog.fields.title }}
			</h2>
			<p>
                {{ blog.fields.shortContent }}
			</p>
			<p>
				 <a class="btn" href="#">详情 »</a>
			</p>
		</div>
	</div>

    {% endfor %}
{% endblock %}

{% block JS %}
      {% load staticfiles %}
        <script type="text/javascript" src={% static 'js/bootstrap.min.js' %}></script>
    <script type="text/javascript">

</script>
{% endblock %}